@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
  scrollbar-width: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  max-width: 100%;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: #f5f5f5;
  --color-black: #0d0d0d;
  --color-gray: #8c8c8c;
  --color-white: #fdfdfd;
  --color-gold: #EAA71B;

  --color-grandient-gray: linear-gradient(135deg, #1f1a00 0%, #6b5600 100%);
  --color-grandient-black: linear-gradient(135deg, #000000 0%, #2c2200 100%);
  --color-grandient-blue: linear-gradient(135deg, #332900 0%, #8d6e00 100%);
  --color-grandient-red: linear-gradient(135deg, #4a3a00 0%, #ffb300 100%);
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}